.cursor-main {
  --size: 0px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50px;
  pointer-events: none;
  z-index: 99;
  background-color: rgba(34, 211, 238, 0.85);
  box-shadow: 0px 0px 18px 0px rgba(34, 211, 238, 0.35);
  transition: width 0.2s ease-out, height 0.2s ease-out,
    opacity 0.2s ease-out;
  will-change: transform, width, height;
}
.cursor-icons {
  top: 10px;
  left: 10px;
  height: calc(var(--cursorH) - 20px);
  transition: width 0.2s ease-out, height 0.2s ease-out;
}
.cursor-disable {
  --size: 0px;
}
@media only screen and (min-width: 600px) {
  .cursor-main {
    --size: 36px;
  }
  .cursor-disable {
    --size: 0px;
  }
}
